/* External CSS */

body{

font-family: Arial, sans-serif;

background-color: #f2f2f2;

margin: 0;

padding: 0;

}

header{

background-color: #333;

color: white;

text-align: center;

padding: 15px;

}

nav{

background-color: #555;

padding: 10px;

text-align: center;

}

nav a{

color: white;

text-decoration: none;

margin: 15px;

font-size: 18px;

}

nav a:hover{

color: yellow;

}

section{

text-align: center;

padding: 20px;

}

footer{

background-color: #333;

color: white;

text-align: center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;

}

table{

margin: auto;

background-color: white;

box-shadow: 5px 5px 10px gray;

}

form{

width: 300px;

margin: auto;

background-color: white;

padding: 20px;

box-shadow: 5px 5px 10px gray;

}