body{

background-color: white;

font-family: Arial;

}

nav{

background-color: black;

padding: 10px;

}

nav a{

color: white;

margin: 10px;

text-decoration: none;

font-size: 18px;

}

p{

color: blue;

font-size: 18px;

}